


@media(min-width:576px){


    /*Lead-section*/
    .lead-section{
        padding: 110px 0 10px;  
    }

    .lead-section h3{
        font-size: 22px;
    }

    .lead-section h2{
        font-size: 80px;
        line-height: 80px;
    }

    .line:after{
        margin-top: 30px;
    }

    .line-center:after{
        margin: 30px auto 0;
    }

    .line-before:before{
        margin-top: 50px;
        margin-bottom: 15px;
    }

}


@media(min-width:768px){

    /*HEADER*/
    .navbar-nav li{
        background: transparent;
        border-bottom: 2px solid transparent;
        transition: 0.5s linear;
        padding: 0 10px;
        font-size: 14px;
    }

    .navbar-nav li:hover,
    .navbar-nav li.active{
        background: transparent;
        border-bottom: 2px solid #FCE38A;
    } 

    .navbar-nav li a.nav-link{
        text-transform: uppercase;
        color: #fff !important;
        transition: 0.5s linear;       
    }

    .navbar-nav li:hover a.nav-link,
    .navbar-nav li.active a{
        color: #FCE38A !important;
    }

    #main-menu{
        margin: 0px;
    }

    .navbar-brand{
        max-width: 170px;/*da moze logo da stane*/
    }

    /*Lead-section*/
    .lead-section{
        padding: 150px 0 10px;  
    }

    .lead-section h3{
        font-size: 42px;
    }

    .lead-section h2{
        font-size: 110px;
        line-height: 110px;
    }

    .line:after{
        margin-top: 50px;
    }

    .line-center:after{
        margin: 50px auto 0;
    }

    .items h4{
        font-size: 20px;
        text-align: left;
    }

    .items .items-normal{
        font-weight: normal;
        font-size: 12px;
        text-align: left;
    }

    .line-before:before{
        width: 100%;
        margin-top: 127px;
        margin-bottom: 15px;
    }

}


@media(min-width:992px){

    html{
        font-size: 16px;
    }

    /*Lead-section*/
    .lead-section{
        padding: 200px 0 10px;  
    }

    .lead-section h3{
        font-size: 72px;
    }

    .lead-section h2{
        font-size: 150px;
        line-height: 140px;
    }

    .line:after{
        margin-top: 70px;
    }

    .line-center:after{
        margin: 70px auto 0;
    }

    .btn-outline-white {
        border: 3px solid #FFF;
    }

    .link-button a{	
        font-size: 14px;	
        padding: 20px;
    }

    .items h4{
        font-size: 24px;	
    }

    .items .items-normal{
        font-weight: normal;
        font-size: 15px;
    }

    .line-before:before{
        margin-top: 157px;
        margin-bottom: 20px;
    }
}





@media(min-width:1200px){





}