


@media(min-width:576px){


    /*Lead-section*/
    .lead-section{
        padding: 110px 0 10px;  
    }

    .lead-section h3{
        font-size: 22px;
    }

    .lead-section h2{
        font-size: 80px;
        line-height: 80px;
    }

    .line:after{
        margin-top: 30px;
    }

    .line-center:after{
        margin: 30px auto 0;
    }

    .line-before:before{
        margin-top: 50px;
        margin-bottom: 15px;
    }

    /*Statistics section*/
    .statistics{
        padding: 60px 0;
    }

    .statistics .statistics-item h2{
        font-size: 42px;	
    }

    .statistics .statistics-item h4{
        font-size: 12px;
    }

    .design .design-cover{
        max-width: 516px;
        margin: auto;
    }

    .slider .slider-symbol .fa {
        padding: 10px;
        font-size: 30px;
    }
}


@media(min-width:768px){

    /*HEADER*/
    .navbar-nav li{
        background: transparent;
        border-bottom: 2px solid transparent;
        transition: 0.5s linear;
        padding: 0 10px;
        font-size: 14px;
    }

    .navbar-nav li:hover,
    .navbar-nav li.active{
        background: transparent;
        border-bottom: 2px solid #FCE38A;
    } 

    .navbar-nav li a.nav-link{
        text-transform: uppercase;
        color: #fff !important;
        transition: 0.5s linear;       
    }

    .navbar-nav li:hover a.nav-link,
    .navbar-nav li.active a{
        color: #FCE38A !important;
    }

    #main-menu{
        margin: 0px;
    }

    .navbar-brand{
        max-width: 170px;
    }

    /*Lead-section*/
    .lead-section{
        padding: 150px 0 10px;  
    }

    .lead-section h3{
        font-size: 42px;
    }

    .lead-section h2{
        font-size: 110px;
        line-height: 110px;
    }

    .line:after{
        margin-top: 50px;
    }

    .line-center:after{
        margin: 50px auto 0;
    }

    .items h4{
        font-size: 20px;
        text-align: left;
    }

    .items .items-normal{
        font-weight: normal;
        font-size: 12px;
        text-align: left;
    }

    .line-before:before{
        width: 100%;
        margin-top: 127px;
        margin-bottom: 15px;
    }

    /*What-we-do section*/
    .what-we-do{
        padding: 70px 0;
    }

    .what-we-do p{
        margin-top: 40px;
    }

    .col-md-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }

    /*Statistics section*/
    .statistics{
        padding: 70px 0;
    }

    .statistics .statistics-item h2{
        font-size: 52px;	
    }

    .statistics .statistics-item h4{
        font-size: 13px;
    }

    /*services section*/
    .services{
        padding: 80px 0;
    }

    .services .services-item .services-item-left .fa{
        font-size: 40px;
    }

    .services .services-item .services-item-right h4{
        font-size: 13px;
    }

    .services .services-item .services-item-right p{
        font-size: 14px;
    }

    /*design section*/
    .design{
        padding: 70px 0 0px;
    }

    .design .design-cover{
        max-width: 932px;
        margin: auto;
    }

    .slider .slider-symbol .fa {
        padding: 15px;
        font-size: 50px;
    }
}


@media(min-width:992px){

    html{
        font-size: 16px;
    }

    /*Lead-section*/
    .lead-section{
        padding: 200px 0 10px;  
    }

    .lead-section h3{
        font-size: 72px;
    }

    .lead-section h2{
        font-size: 150px;
        line-height: 140px;
    }

    .line:after{
        margin-top: 70px;
    }

    .line-center:after{
        margin: 50px auto 0;
    }

    .btn-outline-white {
        border: 3px solid #FFF;
    }

    .link-button a{	
        font-size: 14px;	
        padding: 20px;
    }

    .items h4{
        font-size: 24px;	
    }

    .items .items-normal{
        font-weight: normal;
        font-size: 15px;
    }

    .line-before:before{
        margin-top: 157px;
        margin-bottom: 20px;
    }

    /*What-we-do section*/
    .what-we-do{
        padding: 80px 0;
    }

    .col-lg-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }

    /*Statistics section*/
    .statistics{
        padding: 90px 0;
    }

    .statistics .statistics-item h2{
        font-size: 72px;	
    }

    .statistics .statistics-item h4{
        font-size: 14px;
    }

    /*services section*/
    .services{
        padding: 100px 0;
    }

    .services h2{
        font-size: 30px;
    }

    .services h3{
        font-size: 24px;
    }

    .services .services-item .services-item-left .fa{
        font-size: 50px;
    }

    .services .services-item .services-item-right h4{
        font-size: 14px;
    }

    .services .services-item .services-item-right p{
        font-size: 15px;
    }

    /*design section*/
    .design{
        padding: 100px 0 0px;
    }

    .design .design-cover{
        max-width: 1140px;
        margin: auto;
    }

    .slider .slider-symbol .fa {
        padding: 30px;
        font-size: 65px;
    }

    .teem{
        padding: 100px 0;
    }
}





@media(min-width:1200px){

    /*What-we-do section*/
    .what-we-do{
        padding: 100px 0;
    }

    .what-we-do p{
        margin-top: 50px;
    }

    .col-xl-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}