
html{
    font-size: 14px;
}

img{
    max-width: 100%;
}

a{
    text-decoration: none;
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

h2{
    font-family: 'Kaushan Script', cursive;
    font-weight: 400;
}

p{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

/*HEADER START*/
.navbar-brand h1{
    color: #000;
    font-size: 30px;
}

.navbar-brand{
    max-width: 50%;
    font-size: 30px;
}

.navbar-light .navbar-toggler {
    border-color: #FCE38A;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(252,227,138, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-nav li{
    background: #FCE38A;
    text-align: center;
    transition: 0.5s linear;
}

.navbar-nav li:hover,
.navbar-nav li.active{
    background: #fad13f;
} 

.navbar-nav li a.nav-link{
    text-transform: uppercase;
    color: #fff !important;
    font-family: 'Montserrat', sans-serif;
    transition: 0.5s linear;
}

.navbar-nav li:hover a.nav-link,
.navbar-nav li.active a{
    color: #fff !important;
}

#main-menu{
    margin: 0 -15px;
}
