
html{
    font-size: 14px;
}

img{
    max-width: 100%;
}

a{
    text-decoration: none;
}

h1, h2, h4, h5{
    font-family: 'Montserrat', sans-serif;
}

h3{
    font-family: 'Kaushan Script', cursive;
}

p{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

/*HEADER START*/
.navbar-brand h1{
    color: #fff;
    font-size: 30px;
    font-weight: bold;
}

.navbar-brand{
    max-width: 50%;
    font-size: 30px;
}

.navbar-light .navbar-toggler {
    border-color: #FCE38A;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(252,227,138, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-nav li{
    background: #FCE38A;
    text-align: center;
    transition: 0.5s linear;
}

.navbar-nav li:hover,
.navbar-nav li.active{
    background: #fad13f;
} 

.navbar-nav li a.nav-link{
    text-transform: uppercase;
    color: #fff !important;
    font-family: 'Montserrat', sans-serif;
    transition: 0.5s linear;
}

.navbar-nav li:hover a.nav-link,
.navbar-nav li.active a{
    color: #fff !important;
}

#main-menu{
    margin: 0 -15px;
}

/*Lead-section*/
.lead-section{
    padding: 110px 0 10px;
    background-size: cover;
    background-position: center center;   
}

.lead-section h3{
    font-size: 15px;
}

.lead-section h2{
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
    width: 90%;
    margin: 0 auto;
    line-height: 50px;
}

/*LINE*/
.line:after{
    content: '';
    display: block;
    width: 50px;
    height: 3px;
    background: gray;
    margin-top: 30px;
}

.line-center:after{
    margin: 30px auto 0;
}

.line-bg-white:after{
    background:#fff;
}

.line-bg-pink:after{
    background:#F38181;
}

.btn-outline-white {
    color: #fff !important;
    background-image: none;
    border: 2px solid #FFF;
    background-color: transparent;
}

.link-button a{
    font-family: Montserrat;	
    font-size: 10px;	
    font-weight: bold;	
    line-height: 0;	
    text-align: center;
    padding: 15px;
    text-transform: uppercase;
}

.items h4{
    color: #FFFFFF;	
    font-size: 24px;	
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.items .items-normal{
    font-weight: normal;
    font-size: 15px;
    text-align: center;
}

.line-before:before{
    content: '';
    display: block;
    width: 60%;
    margin: 15px auto 15px;
    height: 3px;
    background: gray;
}

.line-before-bg-white:before{
    background:#fff;
}

/*What-we-do section*/
.what-we-do{
    padding: 50px 0;
}

.what-we-do h2{
    text-transform: uppercase;
    font-weight: bold;
}

.what-we-do p{
    width: 80%;
    margin: 0 auto;
    color: #999;
    font-size: 15px;
    margin-top: 30px;
}

.what-we-do article{
    max-width: 260px;
    margin: auto;
}

.what-we-do .hover{
    position: absolute;
    bottom: 4%;
    left: -3%;
    right: 3%;
    top: -4%;
    text-decoration: none;
    padding: 60px;
    background: linear-gradient(rgba(232,76,61,0.8), rgba(252,227,138,0.8));
    color:rgba(255,255,255,0.7);
    font-size: 1rem;
    display: none;
}

.what-we-do article figure:hover .hover{
    display: block;
}

.what-we-do .hover .fa{
    line-height: 30px;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    margin-bottom: 10px;
}

.what-we-do .hover h4{	
    color: #FFF;		
    font-size: 18px;	
    font-weight: bold;	
    line-height: 0;	
    text-align: center;
}